<a href="https://colab.research.google.com/github/HEMALATHA-jpg/data_structure/blob/main/Data_Structure_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment - DATA STRUCTURE ADVANCE**

Q1 Write a code to reverse a string.

In [ ]:
# Ans-
def reverse_string(s):
    return s[::-1]

# Example usage
string = "Hello, World!"
reversed_string = reverse_string(string)
print(reversed_string)

!dlroW ,olleH

Q2 Write a code to count the number of vowels in a string.

In [ ]:
# Ans-
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = sum(1 for char in s if char in vowels)
    return count

string = "Hemalatha reddy"
vowel_count = count_vowels(string)
print(vowel_count)

5

Q3  Write a code to check if a given string is a palindrome or not.

In [ ]:
# Ans-
def is_palindrome(s):
    # Normalize the string by removing spaces and converting to lowercase
    normalized_s = ''.join(s.split()).lower()
    return normalized_s == normalized_s[::-1]

string = "A man a plan a canal Panama"
result = is_palindrome(string)
print(result)

True

Q4  Write a code to check if two given strings are anagrams of each other

In [ ]:
# Ans-
def are_anagrams(str1, str2):
    # Normalize the strings by removing spaces and converting to lowercase
    str1 = ''.join(str1.split()).lower()
    str2 = ''.join(str2.split()).lower()

    # Check if sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

string1 = "Listen"
string2 = "Silent"
result = are_anagrams(string1, string2)
print(result)

True

Q5 Write a code to find all occurrences of a given substring within another string

In [ ]:
# Ans-
def find_substring_occurrences(main_string, substring):
    occurrences = []
    start = 0

    while True:
        start = main_string.find(substring, start)
        if start == -1:
            break
        occurrences.append(start)
        start += 1  # Move to the next character after the found substring

    return occurrences

main_string = "This is a test. This test is only a test."
substring = "test"
result = find_substring_occurrences(main_string, substring)
print(result)

[10, 21, 36]

Q6 Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
# Ans-
def compress_string(s):
    # Initialize an empty result list
    compressed = []
    count = 1  # Initialize count for the first character

    # Loop through the string, starting from the second character
    for i in range(1, len(s)):
        # If the current character is the same as the previous one, increase the count
        if s[i] == s[i - 1]:
            count += 1
        else:
            # Append the character and its count to the result
            compressed.append(s[i - 1] + str(count))
            count = 1  # Reset the count for the new character

    # Append the last character and its count
    compressed.append(s[-1] + str(count))

    # Convert the list to a string
    compressed_string = ''.join(compressed)

    # Return the original string if compression does not reduce the size
    return compressed_string if len(compressed_string) < len(s) else s

input_string = "aabbcccccddddd"
compressed = compress_string(input_string)
print(compressed)

a2b2c5d5

Q7 Write a code to determine if a string has all unique characters.

In [ ]:
# Ans
def has_unique_chars(s):
    # Create an empty set to store unique characters
    char_set = set()

    # Loop through each character in the string
    for char in s:
        # If the character is already in the set, it means it's a duplicate
        if char in char_set:
            return False
        # Otherwise, add the character to the set
        char_set.add(char)

    # If no duplicates were found, return True
    return True

input_string = "abcdefg"
result = has_unique_chars(input_string)
print(result)

True

Q8  Write a code to convert a given string to uppercase or lowercase.

In [ ]:
#Ans-
def convert_case(s, to_upper=True):
    # Convert to uppercase if to_upper is True, otherwise to lowercase
    if to_upper:
        return s.upper()
    else:
        return s.lower()

input_string = "Hello World"

# Convert to uppercase
uppercase_string = convert_case(input_string, to_upper=True)
print(uppercase_string)

# Convert to lowercase
lowercase_string = convert_case(input_string, to_upper=False)
print(lowercase_string)

HELLO WORLD
hello world

Q9 Write a code to count the number of words in a string.

In [ ]:
# Ans-
def count_words(s):
    # Split the string by whitespace into words
    words = s.split()
    # Return the number of words
    return len(words)

input_string = "Hello, how are you Hema?"
word_count = count_words(input_string)
print(f"Number of words: {word_count}")

Number of words: 5

Q10 Write a code to concatenate two strings without using the + operator

In [ ]:
# Ans-
def concatenate_strings(s1, s2):
    # Use join() to concatenate strings
    return ''.join([s1, s2])

string1 = "Hemalatha, "
string2 = "Reddy"
concatenated_string = concatenate_strings(string1, string2)
print(concatenated_string)

Hemalatha, Reddy

Q11 Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_all_occurrences(lst, element):
    # Use list comprehension to filter out all occurrences of the element
    return [x for x in lst if x != element]

input_list = [1, 2, 3, 4, 2, 2, 5]
element_to_remove = 2
result = remove_all_occurrences(input_list, element_to_remove)
print(result)

[1, 3, 4, 5]

Q12  Implement a code to find the second largest number in a given list of integers.

In [ ]:
# Ans-
def find_second_largest(lst):
    # Remove duplicates by converting the list to a set
    unique_lst = list(set(lst))

    # Check if there are at least two unique numbers
    if len(unique_lst) < 2:
        return None  # Return None if there's no second largest number

    # Sort the unique list in descending order and return the second element
    unique_lst.sort(reverse=True)
    return unique_lst[1]

input_list = [10, 20, 4, 45, 99, 99]
second_largest = find_second_largest(input_list)
if second_largest is not None:
    print(f"The second largest number is: {second_largest}")
else:
    print("There is no second largest number.")

The second largest number is: 45

Q13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values.

In [ ]:
# Ans-
def count_occurrences(lst):
    # Create an empty dictionary to store the counts
    counts = {}

    # Loop through each element in the list
    for element in lst:
        # If the element is already in the dictionary, increment its count
        if element in counts:
            counts[element] += 1
        # Otherwise, add the element to the dictionary with a count of 1
        else:
            counts[element] = 1

    return counts

input_list = [1, 2, 2, 3, 4, 4, 4, 5, 5, 5]
occurrences = count_occurrences(input_list)
print(occurrences)

{1: 1, 2: 2, 3: 1, 4: 3, 5: 3}

Q14 Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
# Ans-
def reverse_list_in_place(lst):
    # Initialize two pointers, one at the beginning and one at the end of the list
    left = 0
    right = len(lst) - 1

    # Swap elements until the two pointers meet in the middle
    while left < right:
        # Swap the elements at left and right indices
        lst[left], lst[right] = lst[right], lst[left]
        # Move the pointers closer to the center
        left += 1
        right -= 1

input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse_list_in_place(input_list)
print(input_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Q15 Implement a code to find and remove duplicates from a list while preserving the original order of
elements.

In [ ]:
# Ans-
def remove_duplicates(lst):
    # Create an empty set to track seen elements and an empty list for results
    seen = set()
    result = []

    # Loop through each element in the list
    for element in lst:
        # If the element hasn't been seen yet, add it to the result and mark it as seen
        if element not in seen:
            result.append(element)
            seen.add(element)

    return result

input_list = [1, 2, 3, 2, 4, 3, 5, 1]
unique_list = remove_duplicates(input_list)
print(unique_list)

[1, 2, 3, 4, 5]

Q16  Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
# Ans-
def is_sorted(lst):
    # Check if the list is sorted in ascending order
    if all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1)):
        return "Ascending"
    # Check if the list is sorted in descending order
    elif all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1)):
        return "Descending"
    else:
        return "Not sorted"


input_list_ascending = [1, 2, 3, 4, 5]
input_list_descending = [5, 4, 3, 2, 1]
input_list_unsorted = [3, 1, 4, 2]

print(is_sorted(input_list_ascending))
print(is_sorted(input_list_descending))
print(is_sorted(input_list_unsorted))

Ascending
Descending
Not sorted

Q17 Write a code to merge two sorted lists into a single sorted list

In [1]:
# Ans
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Merge the two lists by comparing elements
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append any remaining elements from list1 or list2
    merged_list.extend(list1[i:])
    merged_list.extend(list2[j:])

    return merged_list

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Q18  Implement a code to find the intersection of two given lists

In [2]:
# Ans
def find_intersection(list1, list2):
    # Convert both lists to sets and find the intersection
    intersection = list(set(list1) & set(list2))
    return intersection

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection = find_intersection(list1, list2)
print(intersection)

[4, 5]

Q19  Create a code to find the union of two lists without duplicates

In [3]:
def find_union(list1, list2):
    # Convert both lists to sets and find the union
    union = list(set(list1) | set(list2))
    return union

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
union = find_union(list1, list2)
print(union)

[1, 2, 3, 4, 5, 6, 7, 8]

Q20 Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [4]:
# Ans
import random

def shuffle_list(input_list):
    # Loop through the list and swap each element with a randomly chosen one
    for i in range(len(input_list)):
        # Generate a random index from the remaining unshuffled portion
        rand_index = random.randint(0, i)
        # Swap the current element with the randomly chosen one
        input_list[i], input_list[rand_index] = input_list[rand_index], input_list[i]
    return input_list

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[3, 5, 4, 7, 1, 2, 8, 6]

Q21 Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [5]:
# Ans
def common_elements(tuple1, tuple2):
    # Use set intersection to find common elements and convert it back to a tuple
    common = tuple(set(tuple1) & set(tuple2))
    return common

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

Q22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [6]:
# Ans
def get_set_from_input(prompt):
    # Prompt the user to enter a set of integers separated by commas
    user_input = input(prompt)
    # Convert the input string into a set of integers
    return set(map(int, user_input.split(',')))

# Get two sets of integers from the user
set1 = get_set_from_input("Enter the first set of integers, separated by commas: ")
set2 = get_set_from_input("Enter the second set of integers, separated by commas: ")

# Find the intersection of the two sets
intersection = set1 & set2

# Print the intersection
print("Intersection of the two sets:", intersection)

Enter the first set of integers, separated by commas: 1,2,3,4,5
Enter the second set of integers, separated by commas: 3,4,5,6,7
Intersection of the two sets: {3, 4, 5}

Q23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples

In [7]:
# Ans
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples using the + operator
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

Q24  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [8]:
def get_set_from_input(prompt):
    # Prompt the user to enter a set of strings separated by commas
    user_input = input(prompt)
    # Convert the input string into a set of strings
    return set(user_input.split(','))

# Get two sets of strings from the user
set1 = get_set_from_input("Enter the first set of strings, separated by commas: ")
set2 = get_set_from_input("Enter the second set of strings, separated by commas: ")

# Find elements that are in set1 but not in set2
difference = set1 - set2

# Print the elements present in the first set but not in the second
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings, separated by commas: orange, grapes, apple
Enter the second set of strings, separated by commas: banana, orange, grapes
Elements in the first set but not in the second set: {'orange', ' apple'}

Q25  Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [9]:
def slice_tuple(input_tuple, start, end):
    # Use slicing to get the elements from start to end indices
    return input_tuple[start:end]

# Example usage:
input_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

# Get the sliced tuple
result = slice_tuple(input_tuple, start_index, end_index)
print("Sliced tuple:", result)

Enter the start index: 2
Enter the end index: 7
Sliced tuple: (3, 4, 5, 6, 7)

Q26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [12]:
def get_set_from_input(prompt):
    # Prompt the user to enter a set of characters separated by commas
    user_input = input(prompt)
    # Convert the input string into a set of characters
    return set(user_input.split(','))

# Get two sets of characters from the user
set1 = get_set_from_input("Enter the first set of characters, separated by commas: ")
set2 = get_set_from_input("Enter the second set of characters, separated by commas: ")

# Find the union of the two sets
union = set1 | set2

# Print the union
print("Union of the two sets:", union)

Enter the first set of characters, separated by commas: a, b, c
Enter the second set of characters, separated by commas: c, d, e
Union of the two sets: {'c', ' d', ' b', 'a', ' e', ' c'}

Q27 Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [13]:
def get_max_min(input_tuple):
    # Use the built-in max() and min() functions to find the maximum and minimum
    max_value = max(input_tuple)
    min_value = min(input_tuple)
    return max_value, min_value

# Example usage:
input_tuple = (3, 1, 4, 1, 5, 9, 2)
max_value, min_value = get_max_min(input_tuple)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

Q28  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [15]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate union, intersection, and difference
union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union)
print("Intersection:", intersection)
print("Difference (Set 1 - Set 2):", difference)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set 1 - Set 2): {1, 2, 3}

Q29 Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [16]:
def count_occurrences(input_tuple, element):
    # Use the count() method to get the number of occurrences
    return input_tuple.count(element)

# Example usage:
input_tuple = (1, 2, 3, 4, 1, 5, 1)
element = int(input("Enter an element to count its occurrences: "))

# Get the count of occurrences
occurrences = count_occurrences(input_tuple, element)
print(f"The element {element} occurs {occurrences} times in the tuple.")

Enter an element to count its occurrences: 2
The element 2 occurs 1 times in the tuple.

Q30  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [17]:
def get_set_from_input(prompt):
    # Prompt the user to enter a set of strings separated by commas
    user_input = input(prompt)
    # Convert the input string into a set of strings
    return set(user_input.split(','))

# Get two sets of strings from the user
set1 = get_set_from_input("Enter the first set of strings, separated by commas: ")
set2 = get_set_from_input("Enter the second set of strings, separated by commas: ")

# Find the symmetric difference of the two sets
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings, separated by commas: apple, banana, orange
Enter the second set of strings, separated by commas: grape, banana, orange
Symmetric difference of the two sets: {'grape', 'apple'}

Q31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [18]:
def word_frequencies(words):
    frequency_dict = {}
    for word in words:
        # Increment the count for each word in the dictionary
        frequency_dict[word] = frequency_dict.get(word, 0) + 1
    return frequency_dict

# Example usage:
input_words = input("Enter a list of words separated by spaces: ").split()
result = word_frequencies(input_words)

print("Word Frequencies:", result)

Enter a list of words separated by spaces: apple mango banana mango apple
Word Frequencies: {'apple': 2, 'mango': 2, 'banana': 1}

Q32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [19]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values for common keys
        else:
            merged_dict[key] = value  # Add new key-value pairs

    return merged_dict

# Example usage:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

result = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", result)

Merged Dictionary: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

Q33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [20]:
def access_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if key in current:
            current = current[key]  # Move to the next level in the dictionary
        else:
            return None  # Return None if any key is not found
    return current

# Example usage:
nested_dict = {
    'a': {
        'b': {
            'c': 1
        }
    },
    'x': {
        'y': 2
    }
}

keys = ['a', 'b', 'c']
result = access_nested_value(nested_dict, keys)
print("Accessed Value:", result)  # Output: Accessed Value: 1

Accessed Value: 1

Q34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [21]:
def sort_dictionary_by_value(input_dict, ascending=True):
    # Sort the dictionary by values and return a new dictionary
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

# Example usage:
input_dict = {
    'apple': 3,
    'banana': 1,
    'cherry': 2
}

# Sort in ascending order
sorted_ascending = sort_dictionary_by_value(input_dict, ascending=True)
print("Sorted Dictionary (Ascending):", sorted_ascending)

# Sort in descending order
sorted_descending = sort_dictionary_by_value(input_dict, ascending=False)
print("Sorted Dictionary (Descending):", sorted_descending)

Sorted Dictionary (Ascending): {'banana': 1, 'cherry': 2, 'apple': 3}
Sorted Dictionary (Descending): {'apple': 3, 'cherry': 2, 'banana': 1}

Q35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary

In [22]:
def invert_dictionary(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        # If the value already exists in the inverted dictionary, append the key to the list
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]  # Create a new list for the first occurrence of the value
    return inverted_dict

# Example usage:
input_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3,
    'e': 2
}

inverted = invert_dictionary(input_dict)
print("Inverted Dictionary:", inverted)

Inverted Dictionary: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}